---

- name: Import debug.yml
  ansible.builtin.import_tasks: debug.yml
  when: pf_debug|bool
  tags: pf_debug

- name: Import packages.yml
  ansible.builtin.import_tasks: packages.yml
  when: pf_install|bool
  tags: pf_packages

- name: Import relayd.yml
  ansible.builtin.import_tasks: relayd.yml
  tags: pf_relayd

- name: Import sshguard.yml
  ansible.builtin.import_tasks: sshguard.yml
  tags: pf_sshguard

- name: Import blacklistd.yml
  ansible.builtin.import_tasks: blacklistd.yml
  tags: pf_blacklistd

- name: Import fail2ban.yml
  ansible.builtin.import_tasks: fail2ban.yml
  tags: pf_fail2ban

- name: Import pfconf.yml
  ansible.builtin.import_tasks: pfconf.yml
  tags: pf_conf

- name: Import rcconf-sshguard.yml
  ansible.builtin.import_tasks: rcconf-sshguard.yml
  tags: pf_rcconf_sshguard

- name: Import rcconf-blacklistd.yml
  ansible.builtin.import_tasks: rcconf-blacklistd.yml
  tags: pf_rcconf_blacklistd

- name: Import rcconf-fail2ban.yml
  ansible.builtin.import_tasks: rcconf-fail2ban.yml
  tags: pf_rcconf_fail2ban

- name: Import rcconf-relayd.yml
  ansible.builtin.import_tasks: rcconf-relayd.yml
  tags: pf_rcconf_relayd

- name: Import rcconf-pf.yml
  ansible.builtin.import_tasks: rcconf-pf.yml
  tags: pf_rcconf_pf

- name: Import rcconf-pflog.yml
  ansible.builtin.import_tasks: rcconf-pflog.yml
  tags: pf_rcconf_pflog

# EOF
...
