---
- name: "Rcconf-pf: Enable and start pf"
  ansible.builtin.lineinfile:
    dest: /etc/rc.conf
    regexp: ^\s*pf_enable\s*=\s*(.*)$
    line: pf_enable="YES"
    backup: "{{ pf_backup_conf }}"
  notify: start pf
  when: pf_enable | bool and not pf_use_rc_conf_d | bool

- name: "Rcconf-pf: Enable and start pf - /etc/rc.conf.d/"
  community.general.sysrc:
    path: /etc/rc.conf.d/pf
    name: pf_enable
    state: present
    value: "YES"
  notify: start pf
  when: pf_enable | bool and pf_use_rc_conf_d | bool

- name: "Rcconf-pf: Disable and stop pf"
  ansible.builtin.lineinfile:
    dest: /etc/rc.conf
    regexp: ^\s*pf_enable\s*=\s*(.*)$
    line: pf_enable="NO"
    backup: "{{ pf_backup_conf }}"
  notify: disable and stop pf
  when: not pf_enable | bool and not pf_use_rc_conf_d | bool

- name: "Rcconf-pf: Disable and stop pf - /etc/rc.conf.d/"
  community.general.sysrc:
    path: /etc/rc.conf.d/pf
    name: pf_enable
    state: present
    value: "NO"
  notify: disable and stop pf
  when: not pf_enable | bool and pf_use_rc_conf_d | bool

- name: "Rcconf-pf: Configure pf"
  ansible.builtin.lineinfile:
    dest: /etc/rc.conf
    regexp: ^\s*{{ item.regexp }}\s*=\s*(.*)$
    line: '{{ item.regexp }}="{{ item.line }}"'
    backup: "{{ pf_backup_conf }}"
  loop: "{{ pf_rcconf }}"
  notify: reload pf
  when: not pf_use_rc_conf_d | bool

- name: "Rcconf-pf: Configure pf - /etc/rc.conf.d/"
  community.general.sysrc:
    path: /etc/rc.conf.d/pf
    name: "{{ item.regexp }}"
    value: "{{ item.line }}"
  loop: "{{ pf_rcconf }}"
  notify: reload pf
  when: pf_use_rc_conf_d | bool

# EOF
