---
pf_install: false

pf_enable: true
pf_blacklistd: true
pf_fail2ban: true
pf_relayd: false
pf_sshguard: true

pf_blacklistd_enable: true
pf_fail2ban_enable: true
pf_sshguard_enable: true

pf_debug: false
pf_backup_conf: true

pfconf_only: false
pfconf_validate: true

# /etc/pf.conf
pf_type: default3
pf_log_enable: true
pf_int_if: bridge0
pf_wg_if: wg0
pf_ext_if: wlan0
pf_vpn_if: wlan1
pf_vpn_from: '172.16.97.1'
pf_vpn_to: '172.16.97.3'
pf_vpn_port: '51820'
pf_vpn_net: '172.16.97.0/24'
pf_wg_net: '172.16.98.0/24'
pf_jailnet: '172.16.99.0/24'
pf_localnet: '172.16.0.0/22'
pf_log_all_blocked: log
pf_pass_icmp_types: [echoreq, unreach]
pf_pass_icmp6_types: [echoreq, unreach]
pf_tcp_services: [http, https, ssh]

# macros
pf_macros:
  int_if: "{{ pf_int_if }}"
  wg_if: "{{ pf_wg_if }}"
  ext_if: "{{ pf_ext_if }}"
  vpn_if: "{{ pf_vpn_if }}"
  vpn_from: "{{ pf_vpn_from }}"
  vpn_to: "{{ pf_vpn_to }}"
  vpn_port: "{{ pf_vpn_port }}"
  vpn_net: "{{ pf_vpn_net }}"
  wg_net: "{{ pf_wg_net }}"
  jailnet: "{{ pf_jailnet }}"
  localnet: "{{ pf_localnet }}"
  logall: "{{ pf_log_all_blocked }}"
  icmp_types: "{{ pf_pass_icmp_types }}"
  icmp6_types: "{{ pf_pass_icmp6_types }}"
  tcp_services: "{{ pf_tcp_services }}"

# includes
pf_includes:
  pf_translation:
    - pf-rdr-ssh-vpnnet.conf
    - pf-rdr-ssh-localnet.conf

# pf blocks
pf_tables: []

pf_options:
  - set skip on lo0
  - set block-policy return
  - set loginterface $ext_if
  - set limit frags 10000

pf_normalization:
  - scrub in on $ext_if all fragment reassemble no-df
  - scrub out on $ext_if all max-mss 1440
  - scrub on $wg_if all max-mss 1360

pf_translation:
  - nat on $ext_if from { $localnet, $jailnet } to any -> ($ext_if)
  - nat on $vpn_if from { $localnet, $jailnet } to any -> ($vpn_if)

pf_filtering:
  - antispoof for $ext_if
  - "{{ pf_anchors }}"
  - block $logall all
  - pass inet proto icmp icmp-type $icmp_types
  - pass inet6 proto icmp6 icmp6-type $icmp6_types
  - pass in quick on $vpn_if proto udp from $vpn_from to $vpn_to port $vpn_port keep state
  - pass in quick on $wg_if proto tcp from $wg_net to ($wg_if) port $tcp_services flags S/SA keep state
  - pass in on { $ext_if, $vpn_if, $wg_if } proto tcp from { $localnet, $vpn_net, $wg_net } to { self, $jailnet } port $tcp_services flags S/SA keep state
  - pass in on $int_if from $jailnet to any keep state
  - pass out on { $int_if, $vpn_if, $wg_if } keep state
  - pass out on $ext_if from { self, $jailnet } keep state

# blacklistd
pf_blacklistd_conf_remote: []
pf_blacklistd_conf_local:
  - {adr: ssh, type: stream, proto: '*', owner: '*', name: '*', nfail: '3', disable: 24h}
  - {adr: ftp, type: stream, proto: '*', owner: '*', name: '*', nfail: '3', disable: 24h}
  - {adr: smtp, type: stream, proto: '*', owner: '*', name: '*', nfail: '3', disable: 24h}
  - {adr: smtps, type: stream, proto: '*', owner: '*', name: '*', nfail: '3', disable: 24h}
  - {adr: submission, type: stream, proto: '*', owner: '*', name: '*', nfail: '3', disable: 24h}
  - {adr: '*', type: '*', proto: '*', owner: '*', name: '*', nfail: '3', disable: '60'}
pf_blacklistd_flags: '-r'
pf_blacklistd_rcconf:
  - {name: blacklistd_flags, value: "{{ pf_blacklistd_flags }}"}
