#!/bin/sh
#
# {{ ansible_managed }}. Template: {{ template_path }}
#
# If there is a global system configuration file, suck it in.
#
# This script is based upon https://bash.cyberciti.biz/firewall/bsd-spamhaus-lasso-spam-database-update-pf-firewall/#comment-463
#
if [ -r /etc/defaults/periodic.conf ]
then
    . /etc/defaults/periodic.conf
    source_periodic_confs
fi

case "$daily_pf_droplasso_enable" in
    [Yy][Ee][Ss])

        # these variables are also set in tasks/drop.lasso.yml
        : ${daily_pf_droplasso_v4_filename:={{ daily_pf_droplasso_v4_filename }}}
        : ${daily_pf_droplasso_v6_filename:={{ daily_pf_droplasso_v6_filename }}}

        TMPO="/tmp/drop.lasso.$$"
        DROPURL='{{ pf_drop_lasso_dropurl }}'
        FETCH="/usr/bin/fetch -q"
        RM="/bin/rm"
        PF="/sbin/pfctl -Tl -f /etc/pf.conf"

        case "$daily_pf_droplasso_v4" in
            [Yy][Ee][Ss])
            >$TMPO
            $FETCH -o $TMPO "${DROPURL}4.txt"
            if [ $? -eq 0 ]; then
                mv $TMPO $daily_pf_droplasso_v4_filename
            else
                $RM $TMPO
            fi
            ;;
        esac

        case "$daily_pf_droplasso_v6" in
            [Yy][Ee][Ss])
            >$TMPO
            $FETCH -o $TMPO "${DROPURL}6.txt"
            if [ $? -eq 0 ]; then
                mv $TMPO $daily_pf_droplasso_v6_filename
            else
                $RM $TMPO
            fi
           ;;
        esac

        # reload the pf tables
        $PF && rc=1 || rc=3
        ;;

    *)
        rc=0
        ;;
esac

exit $rc
