# {{ ansible_managed }}

######################################
# Ruleset based on the
# Click Death Squad's PF Ruleset v1.3
# by: iztehsux@gmail.com
#
# Modified for ansible Role by
# Nicolas Goy <kuon@goyman.com>
#
# Additional modifications by
# Vladimir Botka <vbotka@gmail.com>
#
######################################

### macro name for external interface.
ext_if = "{{ pf_ext_if }}"

### all incoming traffic on external interface is normalized and fragmented
### packets are reassembled.
scrub in on $ext_if all fragment reassemble

### NAT
{% for rule in pf_rules_nat %}
{{ rule }}
{% endfor %}

### Redirection
{% for rule in pf_rules_rdr %}
{{ rule }}
{% endfor %}

# Bypass blacklisted SSH
# pass in quick on $ext_if inet proto tcp from <MY-TRUSTED-IP> to any port ssh

### optionally use blacklistd
{% if pf_blacklistd_enable %}anchor "blacklistd/*" in on $ext_if
{% endif %}
# optionally use fail2ban
{% if pf_fail2ban_enable %}anchor "f2b/*"
{% endif %}

### set a default deny everything policy.
block {% if pf_log_all_blocked %}log {% endif %}all

### exercise antispoofing on the external interface, but add the local
### loopback interface as an exception, to prevent services utilizing the
### local loop from being blocked accidentally.
set skip on lo0
antispoof for $ext_if inet

### block anything coming from sources that we have no back routes for.
block in from no-route to any

### block packets that fail a reverse path check. we look up the routing
### table, check to make sure that the outbound is the same as the source
### it came in on. if not, it is probably source address spoofed.
block in from urpf-failed to any

### drop broadcast requests quietly.
block in quick on $ext_if from any to 255.255.255.255

### ssh whitelist (no bruteforce protection)
{% for item in pf_ssh_whitelist %}
pass in quick on $ext_if proto tcp from {{ item }} to any port ssh
{% endfor %}

### block packets claiming to come from reserved internal address blocks, as
### they are obviously forged and cannot be contacted from the outside world.
reserved_internal_net = "{ {{ pf_reserved_internal_net }} }"
block in log quick on $ext_if from $reserved_internal_net to any

### block probes that can possibly determine our operating system by disallowing
### certain combinations that are commonly used by nmap, queso and xprobe2, who
### are attempting to fingerprint the server.
### * F : FIN  - Finish; end of session
### * S : SYN  - Synchronize; indicates request to start session
### * R : RST  - Reset; drop a connection
### * P : PUSH - Push; packet is sent immediately
### * A : ACK  - Acknowledgement
### * U : URG  - Urgent
### * E : ECE  - Explicit Congestion Notification Echo
### * W : CWR  - Congestion Window Reduced
block in quick on $ext_if proto tcp flags FUP/WEUAPRSF
block in quick on $ext_if proto tcp flags WEUAPRSF/WEUAPRSF
block in quick on $ext_if proto tcp flags SRAFU/WEUAPRSF
block in quick on $ext_if proto tcp flags /WEUAPRSF
block in quick on $ext_if proto tcp flags SR/SR
block in quick on $ext_if proto tcp flags SF/SF

### keep state on any outbound tcp, udp or icmp traffic. modulate the isn of
### outgoing packets. (initial sequence number) broken operating systems
### sometimes don't randomize this number, making it guessable.
pass out on $ext_if proto { tcp, udp, icmp } from any to any modulate state

### set a rule that allows inbound ssh traffic with synproxy handshaking.
pass in on $ext_if proto tcp from any to any port ssh flags S/SA synproxy state

### protect from ssh flood
table <sshabuse> persist
block in quick from <sshabuse>
pass in on $ext_if proto tcp to any port ssh flags S/SA keep state \
     (max-src-conn 10, max-src-conn-rate 3/5, overload <sshabuse> flush)

### protect ssh with sshguard
table <sshguard> persist
block in proto tcp from <sshguard>

### custom rules set by ansible
{% for rule in pf_rules_custom %}
{{ rule }}
{% endfor %}

# EOF
